/*
Based on Skeleton
http://getskeleton.com/
*/
code {
    padding: .5rem;
    font-size: 90%;
    white-space: nowrap;
    color: #F0F0F0;
    background-color: #555;
    border: 1px solid #555;
    border-radius: 2px;
}

pre > code {
    display: block;
    white-space: pre;
}
