@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap');

:root {
    --white: #FFFFFF;
    --black: #1E2028;
    --red: #FF4081;
    --grey: #CFD8DC;
    --light-grey: #ECEFF1;
    --dark-grey: #A6AFB3;
    --blue: #536DFE;
    --light-blue: #00B0FF;
    --dark-blue: #304FFE;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: var(--black);
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */

h5, h6, p, a, b, i, u, small, span, strong, button, input, li, th, td, code, blockquote {
    font-size: 1rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.06rem;
    line-height: 1.4rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

.link {
    text-decoration: none;
    color: var(--blue);
    transition: 0.2s;
}
.link:hover {
    color: var(--dark-blue);
}

/* BUTTON */

button {
    padding: 0;
    border: none;
    color: inherit;
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-radius: 2px;
    padding: 0.4em 1.2em;
    outline: none;
    border: solid 1px transparent;
    cursor: pointer;
}

.button-primary {
    color: var(--white);
    background-color: var(--blue);
}

.button-secondary {
    color: var(--black);
    background-color: transparent;
}

.button-primary:hover {
    background-color: var(--dark-blue);
}

.button-secondary:hover {
    background-color: var(--light-grey);
}

.button:focus {
    outline: none;
}

.button::-moz-focus-inner {
    border: none;
}


/* BUTTON GROUP */

.button-group {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid var(--grey);
}

.button-group * {
    background-color: var(--white);
    border-right: 1px solid var(--grey);
    padding: 0.4rem 1.2rem;
    overflow-wrap: break-word;
    cursor: pointer;
    float: left;
    text-decoration: none;
}

.button-group *:last-child {
    border-right: none;
}

/* FORM & INPUT */

.form input {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    border-radius: 2px;
    padding: 0.4em 1.2em;
    outline: none;
    border: solid 1px var(--grey);
    box-shadow: none;
    outline: none;
    appearance: none;
}

.form input:focus {
    border-color: var(--blue);
}

.form input:invalid {
    border-color: var(--red);
}

/* TABLE */

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--grey);
    overflow: hidden;
    text-align: left;
}

.table thead tr,
.table tbody tr {
    border-bottom: 1px solid var(--grey);
}

.table tbody tr:hover {
    background: var(--light-grey);
}

.table th,
.table td {
    margin: 5px;
    padding: 0.4em 1.2em;
}

.table-borderless {
    box-shadow: 0 0 0 1px transparent;
}

/* LIST */

.list {
    list-style-type: circle;
}

.list li {
    padding: 0.3rem 0.4rem;
}

/* MENU */

.menu {
    list-style: none;
    display: inline-block;
    border: 1px solid var(--grey);
    border-radius: 2px;
    padding: 0;
}

.menu li {
    margin: 0;
    padding: 0.4em 1.2em;
    border-bottom: 1px solid var(--grey);
}

.menu li:last-of-type {
    border-bottom: none;
}

/* NAVIGATION */

.navigation {
    background: var(--white);
    border-bottom: 1px solid #CFD8DC;
    width: 100%;
    z-index: 3;
}

.navigation * {
    display: inline-block;
    margin: 0;
    padding: 0.4em 1.2em;
    border-width: 0;
}

.navigation h1 {
    font-size: 2.0rem;
    padding: 0.4em 1.2em;
}

.navigation ul {
    padding: 0;
}

.navigation ul li {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0;
}

.navigation ul li * {
    padding: 0.4em 1.2em;
    text-decoration: none;
}

.navigation-fixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.navigation-right ul {
    float: right;
}

.navigation ul .active *{
    color: white;
}

/* MENUS & NAVIGATION */

.button-group *:hover,
.navigation ul li:hover,
.navigation ul li:hover *,
.menu li:hover,
.menu li:hover * {
    color: var(--black);
    background: var(--light-grey);
    cursor: pointer;
}

/* GRID */

main {
    width: 60%;
    margin: auto;
}

.row, .layout {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.layout.justify-start {justify-content: flex-start;}
.layout.justify-end {justify-content: flex-end;}
.layout.justify-center {justify-content: center;}
.layout.justify-around {justify-content: space-around;}
.layout.justify-between {justify-content: space-between;}

.layout.items-start {align-items: flex-start;}
.layout.items-end {align-items: flex-end;}
.layout.items-center {align-items: center;}
.layout.items-baseline {align-items: baseline;}
.layout.items-stretch {align-items: stretch;}

.layout.content-start {align-content: flex-start;}
.layout.content-end {align-content: flex-end;}
.layout.content-center {align-content: center;}
.layout.content-around {align-content: space-around;}
.layout.content-between {align-content: space-between;}
.layout.content-stretch {align-content: stretch;}


.item, .column {
    flex: 0 0 auto;
    flex-grow: 0;
    margin: 1px 0;
}

.flex-12 {
    flex-basis: 100%;
    width: 100%;
}

.flex-11 {
    flex-basis: 91.66666666%;
    width: 91.66666666%;
}

.flex-10 {
    flex-basis: 83.33333334%;
    width: 83.33333334%;
}

.flex-9 {
    flex-basis: 75%;
    width: 75%;
}

.flex-8 {
    flex-basis: 66.66666666%;
    width: 66.66666666%;
}

.flex-7 {
    flex-basis: 58.33333337%;
    width: 58.33333337%;
}

.flex-6 {
    flex-basis: 50%;
    width: 50%;
}

.flex-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
}

.flex-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
}

.flex-3 {
    flex-basis: 25%;
    width: 25%;
}

.flex-2 {
    flex-basis: 16.66666664%;
    width: 16.66666664%;
}

.flex-1 {
    flex-basis: 8.33333332%;
    width: 8.33333332%;
}

/* CARD */

.card {
    width: 100%;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    display: inline-block;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 2px;
}

.card img {
    width: 100%;
    height: 220px;
    margin: 0px;
    padding: 0px;
    background-position: center;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card h1,
.card h2,
.card h3 {
    font-size: 1.8rem;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card a,
.card p {
    font-weight: light;
    margin: 0;
    padding: 0.4rem 1.2rem;
}

/* UTILITIES */

.borderless {
    box-shadow: 0 0 0 1px transparent;
    border-color: transparent;
}

.active {
    background: var(--blue);
    color: white;
}

.full-width {
    width: 100%;
}

.padding {
    padding: 1rem;
}

.margin {
    margin: 1rem;
}

/* CODE */

pre {
    width: 100%;
    margin: 0;
    border-radius: 2px;
    overflow-x: auto;
    background: var(--black);
}
pre code {
    color: white;
    font-family: 'Source Code Pro', sans-serif;
    line-height: 2rem;
}
