@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --dark: #373C48;
    --darker: #21242C;
    --grey: #CFD8DC;
    --dark-grey: #ECEFF1;
    --blue: #1565C0;
    --dark-blue: #0D47A1;
    --red: #C2185B;
    --dark-red: #AD1457;
}

/* BUTTON */

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
}

.button {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    border-radius: 2px;
    padding: 0.4em 1.2em;
    outline: none;
    border: solid 1px transparent;
    cursor: pointer;
    clear: both;
}

.button-default {
    color: white;
    background-color: var(--dark);
}

.button-primary {
    color: white;
    background-color: var(--blue);
}

.button-secondary {
    color: #1e2028;
    background-color: transparent;
}

.button-default:hover {
    background-color: #263238;
}

.button-primary:hover {
    background-color: var(--dark-blue);
}

.button-secondary:hover {
    background-color: var(--dark-grey);
}

.button:focus {
    outline: none;
}

.button::-moz-focus-inner {
    border: none;
}


/* BUTTON GROUP */

.button-group {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid var(--grey);
}

.button-group * {
    background-color: white;
    color: black;
    border-right: 1px solid var(--grey);
    padding: 0.4em 1.2em;
    cursor: pointer;
    float: left;
    text-decoration: none;
}

.button-group *:hover {
    background-color: var(--blue);
    color: white;
}

.button-group *:last-child {
    border-right: none;
}

/* FORM & INPUT */

.input {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    border-radius: 2px;
    padding: 0.4em 1.2em;
    outline: none;
    font-size: 16px;
    border: solid 1px var(--grey);
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.input:focus {
    border-color: var(--blue);
}

.input:invalid {
    border-color: #FF4081;
}

/* TABLE */

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--grey);
    overflow: hidden;
}

.table thead {
    background: var(--dark);
    color: white;
}

.table thead tr,
.table tbody tr {
    border-bottom: 1px solid var(--grey);
}

.table tbody tr:hover {
    background: var(--dark-grey);
}

.table th,
.table td {
    margin: 5px;
    padding: 0.4em 1.2em;
}

.table-stripped tbody tr:nth-child(even) {
    background: var(--dark-grey);
}

.table-stripped tbody tr:nth-child(even):hover {
    background: var(--grey);
}

/* LIST */

.list {
    list-style: none;
    display: inline-block;
    border: 1px solid var(--grey);
    border-radius: 2px;
    padding: 0;
}

.list dt {
    background: var(--dark);
    color: white;
}

.list li,
.list dt,
.list dd {
    margin: 0;
    padding: 0.4em 1.2em;
    border-bottom: 1px solid var(--grey);
}

.list li:hover,
.list dd:hover {
    background: var(--dark-grey);
}

.list li:last-of-type,
.list dd:last-of-type {
    border-bottom: 0px;
}

/* NAVIGATION */

.navigation {
    background: var(--darker);
    color: white;
    width: 100%;
    z-index: 3;
}

.navigation * {
    display: inline-block;
    margin: 0;
    padding: 0.4rem 1.2rem;
    border-width: 0;
}

.navigation ul li {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0;
}

.navigation ul li:hover {
    /*    border: 1px solid white; */
    background: var(--dark);
}

.navigation ul li * {
    padding: 0.4rem 1.2rem;
    color: white;
    text-decoration: none;
}

.navigation-fixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.navigation-right ul {
    float: right;
}

/* GRID */

.container {
    width: 60%;
    margin: auto;
}

/** .container .justify-start {justify-content: flex-start;}*/
/** .container .justify-end {justify-content: flex-end;}*/
/** .container .justify-center {justify-content: center;}*/
/** .container .justify-around {justify-content: space-around;}*/
/** .container .justify-between {justify-content: space-between;}*/

/** .container .items-start {align-items: flex-start;}*/
/** .container .items-end {align-items: flex-end;}*/
/** .container .items-center {align-items: center;}*/
/** .container .items-baseline {align-items: baseline;}*/
/** .container .items-stretch {align-items: stretch;}*/

/** .container .content-start {align-content: flex-start;}*/
/** .container .content-end {align-content: flex-end;}*/
/** .container .content-center {align-content: center;}*/
/** .container .content-around {align-content: space-around;}*/
/** .container .content-between {align-content: space-between;}*/
/** .container .content-stretch {align-content: stretch;}*/

.row, .layout {
    background: red;
    min-height: 400px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    clear: both;
}

.column:last-of-type {
    padding-right: 0;
}

.item, .column {
    flex: 0 0 auto;
    flex-grow: 0;
    margin: 1px 0;
}

.flex-12 {
    flex-basis: 100%;
    width: 100%;
}

.flex-11 {
    flex-basis: 91.66666666%;
    width: 91.66666666%;
}

.flex-10 {
    flex-basis: 83.33333334%;
    width: 83.33333334%;
}

.flex-9 {
    flex-basis: 75%;
    width: 75%;
}

.flex-8 {
    flex-basis: 66.66666666%;
    width: 66.66666666%;
}

.flex-7 {
    flex-basis: 58.33333337%;
    width: 58.33333337%;
}

.flex-6 {
    flex-basis: 50%;
    width: 50%;
}

.flex-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
}

.flex-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
}

.flex-3 {
    flex-basis: 25%;
    width: 25%;
}

.flex-2 {
    flex-basis: 16.66666664%;
    width: 16.66666664%;
}

.flex-1 {
    flex-basis: 8.33333332%;
    width: 8.33333332%;
}

/* CARD */

.card {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    background: white;
    border: 1px solid var(--grey);
    border-radius: 2px;
}

.card img {
    width: 100%;
    height: 220px;
    margin: 0px;
    padding: 0px;
    background-position: center;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card h1,
.card h2,
.card h3 {
    font-size: 26px;
    margin: 0;
    padding: 0.4rem 1.2rem;
}

.card h4,
.card h5,
.card h6,
.card p {
    font-weight: lighter;
    margin: 0;
    padding: 0.4rem 1.2rem;
}

/* UTILITIES */

.borderless {
    box-shadow: 0 0 0 1px transparent;
    border-color: transparent;
}

.active, .active:hover {
    background: var(--blue);
    color: white;
}

.full-width {
    width: 100%;
}
