h5, h6, p, b, i, u, span, mark, strong, b, u, i, li, th, td, .link {
    font-size: 1rem;
    letter-spacing: 0.02rem;
    line-height: 1.4rem;
}
p, b, i, u, span, mark, u, i, li, td, .link {font-weight: lighter;}
h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.1rem;}
small {font-size: .8rem;}
mark {
    padding: 2px 4px;
    background-color: #EEE;
    border-radius: 2px;
}
.link {
    text-decoration: none;
    color: #6BA4FF;
    transition: 0.2s;
}
.link:hover {color: #407AD6;}
.text-justify {text-align: justify;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-capitalize {text-transform: capitalize;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}
