.card {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 2px;
}
.card img {
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.card .card-title {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.card .card-subtitle {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.card .card-text {
    margin: 0;
    padding: 0.5rem;
    font-weight: lighter;
}
.card .card-actions {
    margin: 0;
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-align: right;
    border-top: 1px solid #DDD;
}
.card.borderless .card-actions { border-top: none; }
