.container {
    width: 70%;
    margin: auto;
}
.row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.row.justify-start {justify-content: flex-start;}
.row.justify-end {justify-content: flex-end;}
.row.justify-center {justify-content: center;}
.row.justify-around {justify-content: space-around;}
.row.justify-between {justify-content: space-between;}
.row.items-start {align-items: flex-start;}
.row.items-end {align-items: flex-end;}
.row.items-center {align-items: center;}
.row.items-baseline {align-items: baseline;}
.row.items-stretch {align-items: stretch;}
.row.content-start {align-content: flex-start;}
.row.content-end {align-content: flex-end;}
.row.content-center {align-content: center;}
.row.content-around {align-content: space-around;}
.row.content-between {align-content: space-between;}
.row.content-stretch {align-content: stretch;}
div[class^="column"] {
    flex: 0 0 auto;
    flex-grow: 0;
    box-sizing: border-box;
    margin: .5rem 0;
    padding: 0 .5rem;
}
.column-12 {
    flex-basis: 100%;
    width: 100%;
}
.column-11 {
    flex-basis: 91.66666666%;
    width: 91.66666666%;
}
.column-10 {
    flex-basis: 83.33333334%;
    width: 83.33333334%;
}
.column-9 {
    flex-basis: 75%;
    width: 75%;
}
.column-8 {
    flex-basis: 66.66666666%;
    width: 66.66666666%;
}
.column-7 {
    flex-basis: 58.33333337%;
    width: 58.33333337%;
}
.column-6 {
    flex-basis: 50%;
    width: 50%;
}
.column-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
}
.column-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
}
.column-3 {
    flex-basis: 25%;
    width: 25%;
}
.column-2 {
    flex-basis: 16.66666664%;
    width: 16.66666664%;
}
.column-1 {
    flex-basis: 8.33333332%;
    width: 8.33333332%;
}

@media (max-width: 750px) {
    .container {width: 96%;}
    .container .row .column {
        flex-basis: 100%;
        width: 100%;
    }
}
