/*
Based on Skeleton
http://getskeleton.com/
*/
table {
    width: 100%;
    background-color: #FFF;
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #DDD;
    overflow: hidden;
}
table.borderless {box-shadow: none;}
thead {background-color: #EEE}
th,
td {
    padding: .6rem 1rem;
    text-align: left;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
