<section id="button" class="row">
    <div class="column-12">
        <h2>Buttons</h2>
        <p>
            Petit.css comes with only 2 buttons types : <mark>.button-primary</mark> and <mark>.button-secondary</mark>.
            Buttons styles can be applied to <mark>&lt;a&gt;</mark>, <mark>&lt;button&gt;</mark> and <mark>&lt;input type="submit"&gt;</mark> elements.
        </p>
    </div>
    <div class="column-12">
        <a class="button-primary" href="#">Primary link</a>
        <button class="button-primary">Primary button</button>
        <input class="button-primary" type="submit" value="Primary submit">
        <input class="button-primary" type="button" value="disabled button" disabled>
    </div>
    <div class="column-12">
        <a class="button-secondary" href="#">Secondary link</a>
        <button class="button-secondary">Secondary button</button>
        <input class="button-secondary" type="submit" value="Secondary submit">
        <input class="button-secondary" type="button" value="disabled button" disabled>
    </div>
    <div class="column-12">
          <pre><code>
&lta class="button-primary" href="#"&gtPrimary link&lt/a&gt
&ltbutton class="button-primary"&gtPrimary button&lt/button&gt
&ltinput class="button-primary" type="submit" value="Primary submit"&gt

&lta class="button-secondary" href="#"&gtSecondary link&lt/a&gt
&ltbutton class="button-secondary"&gtSecondary button&lt/button&gt
&ltinput class="button-secondary" type="submit" value="Secondary submit"&gt
          </code></pre>
    </div>
</section>
