<section id="card" class="row">
    <div class="column-12">
        <h2>Cards</h2>
        <p>
            Petit.css cards give you the possibility to display your content in a customizable and flexible container.
        </p>
        <p>
            Default cards have borders, but you can add the <mark>borderless</mark> css class to remove borders.
        </p>
    </div>
    <div class="column-3">
        <article class="card">
            <img src="https://placedog.net/400/300/" alt="placeholder">
            <h1 class="card-title">
                Title
            </h1>
            <p class="card-text">
                Lorem ipsum dolor sit amet
            </p>
            <div class="card-actions">
                <a class="button button-primary" href="#">link</a>
            </div>
        </article>
    </div>
    <div class="column-3">
        <article class="card">
            <img src="https://placedog.net/400/300/" alt="placeholder">
            <h1 class="card-title">
                Title
            </h1>
            <p class="card-text">
                Lorem ipsum dolor sit amet
            </p>
            <div class="card-actions">
                <a class="button button-primary" href="#">link</a>
            </div>
        </article>
    </div>
    <div class="column-3">
        <article class="card borderless">
            <img src="https://placedog.net/400/300/" alt="placeholder">
            <h1 class="card-title">
                Title
            </h1>
            <p class="card-text">
                Lorem ipsum dolor sit amet
            </p>
            <div class="card-actions">
                <a class="button button-primary" href="#">link</a>
            </div>
        </article>
    </div>
    <div class="column-3">
        <article class="card borderless">
            <img src="https://placedog.net/400/300/" alt="placeholder">
            <h1 class="card-title">
                Title
            </h1>
            <p class="card-text">
                Lorem ipsum dolor sit amet
            </p>
            <div class="card-actions">
                <a class="button button-primary" href="#">link</a>
            </div>
        </article>
    </div>
    <div class="column-12">
          <pre><code>
&ltarticle class="card"&gt
  &ltimg src="https://via.placeholder.com/150/150" alt="placeholder"&gt
  &lth1 class="card-title"&gt
    Title
  &lt/h1&gt
  &ltp class="card-text"&gt
    Lorem ipsum dolor sit amet
  &lt/p&gt
  &ltdiv class="card-actions"&gt
    &lta class="button button-primary" href="#"&gtlink&lt/a&gt
  &lt/div&gt
&lt/article&gt
          </code></pre>
    </div>
</section>
