<section id="grid" class="row">
    <div class="column-12">
        <h2>Grid</h2>
        <p>
            The grid is a <strong>12-columns flex-box grid</strong>. The maximum width on desktop is 70% of the page's width,
            the maximum width on mobile is 100% of the page's width.
        </p>
    </div>
    <div class="column-12 sample-grid">
        <div class="row">
            <div class="column-12">column-12</div>

            <div class="column-11">column-11</div>
            <div class="column-1">1</div>

            <div class="column-10">column-10</div>
            <div class="column-2">column-2</div>

            <div class="column-9">column-9</div>
            <div class="column-3">column-3</div>

            <div class="column-8">column-8</div>
            <div class="column-4">column-4</div>

            <div class="column-7">column-7</div>
            <div class="column-5">column-5</div>

            <div class="column-6">column-6</div>
            <div class="column-6">column-6</div>
        </div>
        <div class="row justify-start sample-grid">
            <div class="column-3">justify-start</div>
            <div class="column-3">column-3</div>
        </div>
        <div class="row justify-end sample-grid">
            <div class="column-3">justify-end</div>
            <div class="column-3">column-3</div>
        </div>
        <div class="row justify-between sample-grid">
            <div class="column-3">justify-between</div>
            <div class="column-3">column-3</div>
        </div>
        <div class="row justify-around sample-grid">
            <div class="column-3">justify-around</div>
            <div class="column-3">column-3</div>
        </div>
        <div class="row justify-center sample-grid">
            <div class="column-3">justify-center</div>
            <div class="column-3">column-3</div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="row"&gt
  &ltdiv class="column-12"&gtcolumn-12&lt/div&gt

  &ltdiv class="column-11"&gtcolumn-11&lt/div&gt
  &ltdiv class="column-1"&gt1&lt/div&gt

  &ltdiv class="column-10"&gtcolumn-10&lt/div&gt
  &ltdiv class="column-2"&gtcolumn-2&lt/div&gt

  &ltdiv class="column-9"&gtcolumn-9&lt/div&gt
  &ltdiv class="column-3"&gtcolumn-3&lt/div&gt

  &ltdiv class="column-8"&gtcolumn-8&lt/div&gt
  &ltdiv class="column-4"&gtcolumn-4&lt/div&gt

  &ltdiv class="column-7"&gtcolumn-7&lt/div&gt
  &ltdiv class="column-5"&gtcolumn-5&lt/div&gt

  &ltdiv class="column-6"&gtcolumn-6&lt/div&gt
  &ltdiv class="column-6"&gtcolumn-6&lt/div&gt
&lt/div&gt

&ltdiv class="row justify-start"&gt
  &ltdiv class="column-3"&gtjustify-start&lt/div&gt
  &ltdiv class="column-3"&gtcolumn-3&lt/div&gt
&lt/div&gt

&ltdiv class="row justify-end"&gt
  &ltdiv class="column-3"&gtjustify-end&lt/div&gt
  &ltdiv class="column-3"&gtcolumn-3&lt/div&gt
&lt/div&gt

&ltdiv class="row justify-between"&gt
  &ltdiv class="column-3"&gtjustify-between&lt/div&gt
  &ltdiv class="column-3"&gtcolumn-3&lt/div&gt
&lt/div&gt

&ltdiv class="row justify-around"&gt
  &ltdiv class="column-3"&gtjustify-around&lt/div&gt
  &ltdiv class="column-3"&gtcolumn-3&lt/div&gt
&lt/div&gt

&ltdiv class="row justify-center"&gt
  &ltdiv class="column-3"&gtjustify-center&lt/div&gt
  &ltdiv class="column-3"&gtcolumn-3&lt/div&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
