<section id="table" class="row">
    <div class="column-12">
        <h2>Tables</h2>
        <p>
            Do not forget to use <mark>&lt;thead&gt;</mark> and <mark>&lt;tbody&gt;</mark> elements when you want to
            display a table with Petit.css
        </p>
        <p>
            Default tables have borders, but you can add the <mark>borderless</mark> css class to remove borders.
        </p>
    </div>
    <div class="column-6">
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#1</td>
                <td>France</td>
                <td>5</td>
            </tr>
            <tr>
                <td>#2</td>
                <td>Germany</td>
                <td>4</td>
            </tr>
            <tr>
                <td>#3</td>
                <td>Portugal</td>
                <td>4</td>
            </tr>
            <tr>
                <td>#4</td>
                <td>Hungary</td>
                <td>2</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="column-6">
        <table class="borderless">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#1</td>
                <td>France</td>
                <td>5</td>
            </tr>
            <tr>
                <td>#2</td>
                <td>Germany</td>
                <td>4</td>
            </tr>
            <tr>
                <td>#3</td>
                <td>Portugal</td>
                <td>4</td>
            </tr>
            <tr>
                <td>#4</td>
                <td>Hungary</td>
                <td>2</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="column-12">
          <pre><code>
&lttable&gt
  &ltthead&gt
    &lttr&gt
      &ltth&gtRank&lt/th&gt
      &ltth&gtTeam&lt/th&gt
      &ltth&gtPoints&lt/th&gt
    &lt/tr&gt
  &lt/thead&gt
  &lttbody&gt
    &lttr&gt
      &lttd&gt#1&lt/td&gt
      &lttd&gtFrance&lt/td&gt
      &lttd&gt5&lt/td&gt
    &lt/tr&gt
  &lt/tbody&gt
&lt/table&gt
          </code></pre>
    </div>
</section>
