<section id="typography" class="row">
    <div class="column-12">
        <h2>Typography</h2>
        <p>Text sizes are set using <mark>rems</mark>. The default text size is <mark>1 rem</mark>,
            this is also the default size for <mark>&lt;h6&gt;</mark> and <mark>&lt;h5&gt;</mark> elements. The default font family is <mark>sans-serif</mark>, it is set by normalize.</p>
    </div>
    <div class="column-6">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>Paragraph</p>
        <p><span>Text</span></p>
        <p><strong>Strong</strong></p>
        <p><u>Underlined</u></p>
        <p><em>Italic</em></p>
        <p><mark>Highlighted</mark></p>
        <p><a href="#" class="link">Cool link</a></p>
        <p class="text-capitalize">capitalize</p>
        <p class="text-lowercase">lowercase</p>
        <p class="text-uppercase">uppercase</p>
        <p class="text-justify">align justify: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="text-left">align left: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="text-center">align center: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="text-right">align right: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="column-6">
          <pre><code>
&lth1&gtHeading 1&lt/h1&gt
&lth2&gtHeading 2&lt/h2&gt
&lth3&gtHeading 3&lt/h3&gt
&lth4&gtHeading 4&lt/h4&gt
&lth5&gtHeading 5&lt/h5&gt

&lt!-- h6 tag has the same size than p tag --&gt
&lth6&gtHeading 6&lt/h6&gt

&ltp&gtParagraph&lt/p&gt
&ltspan&gtText&lt/span&gt
&ltstrong&gtStrong&lt/strong&gt
&ltu&gtUnderlined&lt/u&gt
&ltem&gtItalic&lt/em&gt
&ltmark&gtHighlighted&lt/mark&gt
&lta href="#" class="link"&gtCool link&lt/a&gt

&lt!-- Utility classes --&gt
&ltp class="text-capitalize"&gtcapitalize&lt/p&gt
&ltp class="text-lowercase"&gtlowercase&lt/p&gt
&ltp class="text-uppercase"&gtuppercase&lt/p&gt
&ltp class="text-justify"&gtalign justify&lt/p&gt
&ltp class="text-left"&gtalign left&lt/p&gt
&ltp class="text-center"&gtalign center&lt/p&gt
&ltp class="text-right"&gtalign right&lt/p&gt
          </code></pre>
</section>
