/*
Originally made by Mutedblues
https://codepen.io/mutedblues/pen/MmPNPG
*/
.navigation {
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.navigation a {color: #FFF;}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #333;
}
.navigation li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
.navigation li a:hover,
.navigation .menu-button:hover {
    background-color: #555;
}
.navigation .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
.navigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.navigation .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.navigation .menu-icon .icon {
    background: #FFF;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
.navigation .menu-icon .icon:before,
.navigation .menu-icon .icon:after {
    background: #FFF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.navigation .menu-icon .icon:before {top: 5px;}
.navigation .menu-icon .icon:after {top: -5px;}
.navigation .menu-button {display: none;}
.navigation .menu-button:checked ~ .menu {max-height: 500px;}
.navigation .menu-button:checked ~ .menu-icon .icon {background: transparent;}
.navigation .menu-button:checked ~ .menu-icon .icon:before {transform: rotate(-45deg);}
.navigation .menu-button:checked ~ .menu-icon .icon:after {transform: rotate(45deg);}
.navigation .menu-button:checked ~ .menu-icon:not(.steps) .icon:before,
.navigation .menu-button:checked ~ .menu-icon:not(.steps) .icon:after {
    top: 0;
}

@media (min-width: 768px) {
    .navigation li {float: left;}
    .navigation li a {padding: 20px 30px;}
    .navigation .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .navigation .menu-icon {display: none;}
}
