/*
* LilUI V0.0.0
* Lilian Avry
* Based on Skeleton CSS by Dave Gamache
* LilUI is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Skeleton CSS and its team
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 2020-03-08
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

:root {
<<<<<<< HEAD
  --white: #FFFFFF;
  --black: #1E2028;
  --red: #FF4081;
  --grey: #CFD8DC;
  --light-grey: #ECEFF1;
  --dark-grey: #A6AFB3;
  --blue: #536DFE;
  --light-blue: #00B0FF;
  --dark-blue: #304FFE;
=======
    --white: #FFFFFF;
    --black: #1E2028;
    --red: #FF4081;
    --grey: #CFD8DC;
    --light-grey: #ECEFF1;
    --dark-grey: #A6AFB3;
    --blue: #536DFE;
    --light-blue: #00B0FF;
    --dark-blue: #203DE3;
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 60%;
  margin: auto;
}

.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

<<<<<<< HEAD
.row.justify-start {justify-content: flex-start;}
.row.justify-end {justify-content: flex-end;}
.row.justify-center {justify-content: center;}
.row.justify-around {justify-content: space-around;}
.row.justify-between {justify-content: space-between;}
=======
body {
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */

h5, h6, p, a, b, i, u, small, span, strong, button, input, li, th, td, code, blockquote {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    line-height: 1.4rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    color: var(--blue);
    transition: 0.2s;
}
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887

.row.items-start {align-items: flex-start;}
.row.items-end {align-items: flex-end;}
.row.items-center {align-items: center;}
.row.items-baseline {align-items: baseline;}
.row.items-stretch {align-items: stretch;}

.row.content-start {align-content: flex-start;}
.row.content-end {align-content: flex-end;}
.row.content-center {align-content: center;}
.row.content-around {align-content: space-around;}
.row.content-between {align-content: space-between;}
.row.content-stretch {align-content: stretch;}


.column, .columns {
  flex: 0 0 auto;
  flex-grow: 0;
  margin: 1px 0;
}

.twelve.columns {
  flex-basis: 100%;
  width: 100%;
}

.eleven.columns {
  flex-basis: 91.66666666%;
  width: 91.66666666%;
}

.ten.columns {
  flex-basis: 83.33333334%;
  width: 83.33333334%;
}

.nine.columns {
  flex-basis: 75%;
  width: 75%;
}

.eight.columns {
  flex-basis: 66.66666666%;
  width: 66.66666666%;
}

.seven.columns {
  flex-basis: 58.33333337%;
  width: 58.33333337%;
}

.six.columns {
  flex-basis: 50%;
  width: 50%;
}

.five.columns {
  flex-basis: 41.66666667%;
  width: 41.66666667%;
}

.four.columns {
  flex-basis: 33.33333333%;
  width: 33.33333333%;
}

.three.columns {
  flex-basis: 25%;
  width: 25%;
}

.two.columns {
  flex-basis: 16.66666664%;
  width: 16.66666664%;
}

.one.column {
  flex-basis: 8.33333332%;
  width: 8.33333332%;
}

/* For devices smaller than 750px */
@media (max-width: 750px) {
  .container {
    width: 95%;
    padding: 0;
  }

  .columns, .column {
    flex-basis: 100%;
    width: 100%;
<<<<<<< HEAD
  }
=======
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--grey);
    overflow: hidden;
    text-align: left;
}

.table thead tr,
.table tbody tr {
    border-bottom: 1px solid var(--grey);
}

.table tbody tr:hover {
    background: var(--light-grey);
}

.table th,
.table td {
    margin: 5px;
    padding: 0.4em 1.2em;
}

/* LIST */

.list {
    list-style-type: circle;
    margin: 0;
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
html { font-size: 62.5%; }

<<<<<<< HEAD
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Varela Round", Arial, sans-serif;
  color: var(--black);
=======
.menu {
    list-style: none;
    display: inline-block;
    border: 1px solid var(--grey);
    border-radius: 2px;
    padding: 0;
    margin: 0;
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4, h5, h6 {
  font-size: 2.5rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

p { margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: var(--light-blue); }
a:hover { color: var(--blue); }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
.buttons
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 2px;
  border: solid 1px transparent;
  cursor: pointer;
  box-sizing: border-box;
  transition: .2;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: white;
  background-color: var(--blue);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: var(--dark-blue);
}

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  color: var(--black);
  background-color: var(--light-grey);
}

.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
  background-color: var(--grey);
}

/* Button groups
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.buttons .button {
  border-radius: 0;
  color: var(--black);
  background-color: var(--light-grey);
  overflow-wrap: break-word;
  float: left;
  text-decoration: none;
}

.buttons .button:hover { background-color: var(--grey); }

.buttons .button.active {
  color: white;
  background-color: var(--dark-blue);
}

.buttons .button:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.buttons .button:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: solid 1px var(--grey);
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  border: 1px solid var(--light-blue);
  outline: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--blue);
  outline: none;
}

select, option { cursor: pointer; }

label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  width: 100%;
  list-style: none;
  display: inline-block;
  border: 1px solid var(--grey);
  border-radius: 2px;
  padding-left: 0;
  margin-top: 0;
}

<<<<<<< HEAD
li {
  margin: 0;
  padding: 6px 10px;
  border-bottom: 1px solid var(--grey);
}

li:last-of-type {
  border-bottom: none;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: white;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--grey);
  overflow: hidden;
  text-align: left;
}

th, td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button {
  margin-bottom: 1rem;
}

input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
=======
/* GRID */

main {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.row.justify-start {justify-content: flex-start;}
.row.justify-end {justify-content: flex-end;}
.row.justify-center {justify-content: center;}
.row.justify-around {justify-content: space-around;}
.row.justify-between {justify-content: space-between;}

.row.items-start {align-items: flex-start;}
.row.items-end {align-items: flex-end;}
.row.items-center {align-items: center;}
.row.items-baseline {align-items: baseline;}
.row.items-stretch {align-items: stretch;}

.row.content-start {align-content: flex-start;}
.row.content-end {align-content: flex-end;}
.row.content-center {align-content: center;}
.row.content-around {align-content: space-around;}
.row.content-between {align-content: space-between;}
.row.content-stretch {align-content: stretch;}


.column {
    flex: 0 0 auto;
    flex-grow: 0;
    margin: 1px 0;
    padding: 1rem;
}

.column-12 {
    flex-basis: 100%;
    width: 100%;
}

.column-11 {
    flex-basis: 91.66666666%;
    width: 91.66666666%;
}

.column-10 {
    flex-basis: 83.33333334%;
    width: 83.33333334%;
}

.column-9 {
    flex-basis: 75%;
    width: 75%;
}

.column-8 {
    flex-basis: 66.66666666%;
    width: 66.66666666%;
}

.column-7 {
    flex-basis: 58.33333337%;
    width: 58.33333337%;
}

.column-6 {
    flex-basis: 50%;
    width: 50%;
}

.column-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
}

.column-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
}

.column-3 {
    flex-basis: 25%;
    width: 25%;
}

.column-2 {
    flex-basis: 16.66666664%;
    width: 16.66666664%;
}

.column-1 {
    flex-basis: 8.33333332%;
    width: 8.33333332%;
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887
}

.u-pull-right { float: right; }
.u-pull-left { float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin: 3rem 0;
  border-width: 0;
  border-top: 1px solid var(--light-grey);
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

<<<<<<< HEAD
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

=======
/* UTILITIES */

* .active {
    background: var(--blue);
    color: white;
}
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

<<<<<<< HEAD

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}
=======
/* CODE */
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

<<<<<<< HEAD
/* Larger than Desktop HD */
@media (min-width: 1200px) {}
=======
pre code {
    color: white;
    font-family: 'Source Code Pro', sans-serif;
    line-height: 2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 960px) and (max-width: 1264px) {
    * main {
        width: 80%;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
    * main {
        width: 90%;
    }

    * .row .column {
        flex-basis: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    * main {
        width: 100%;
    }

    * .row .column {
        flex-basis: 100%;
        width: 100%;
    }
}
>>>>>>> 6a294d97b067ad0cec144c7439fe8bb2d97c2887
