<section class="row justify-around">
    <div class="column-12 text-center">
        <h1>Petit CSS</h1>
        <p>
            A minimalist and lightweight CSS boilerplate.
        </p>
        <a class="button-secondary" href="https://github.com/lil-re/petit-css">View on Github</a>
        <a class="button-primary" href="https://github.com/lil-re/petit-css/releases/tag/1.0.0-beta.3">Download</a>
    </div>
    <div class="column-12">
        <h1>What is Petit CSS ?</h1>
    </div>
    <div class="column-6">
        <p>
            Petit CSS is a lightweight css framework made for small projects. It can also be a good base for your custom style.
            It contains less 500 lines of css, but it is quiet complete as it comes with a flexbox grid,
            a navigation menu and styles for standard elements.
            You can build a simple website without using a larger framework.
            For example, this website includes Petit CSS and only 7 lines of custom CSS.
        </p>
    </div>
    <div class="column-6">
        <p>
            You can fork the project on <a href="https://github.com/lil-re/petit-css" class="link">Github</a>.
            Some components are based on <a href="https://getskeleton.com" class="link">Skeleton</a> and
            the navigation menu is based on a <a href="https://codepen.io/mutedblues/pen/MmPNPG" class="link">pen made by Mutedblues</a>.
            Petit CSS also uses <a href="https://necolas.github.io/normalize.css/" class="link">Normalize</a> as a reset.
            Do not hesitate to star or like this stuff.
        </p>
    </div>
    <div class="column-12">
        <h1>Installation</h1>
        <p>
            You can <a href="https://github.com/lil-re/petit-css/releases/tag/1.0.0-beta.3" class="link">download Petit.css here</a>.
            You can also add it to your projects with Npm or Yarn :
        </p>
        <p><pre><code>
  # npm
  npm install petit-css

  # yarn
  yarn add petit-css

</code></pre></p>
    </div>
</section>
