<div class="navigation">
    <a href="http://petitcss.lil.re" class="logo">Petit CSS</a>
    <input class="menu-button" type="checkbox" id="menu-button" />
    <label class="menu-icon" for="menu-button">
        <span class="icon"></span>
    </label>
    <ul class="menu">
        <li><a href="#typography">Typo</a></li>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#button">Button</a></li>
        <li><a href="#form">Form</a></li>
        <li><a href="#table">Table</a></li>
        <li><a href="#list">List</a></li>
        <li><a href="#card">Card</a></li>
        <li><a href="#navigation">Nav</a></li>
        <li><a href="https://github.com/lil-re/petit-css">Github</a></li>
    </ul>
</div>
